@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars globally for modals and popups */
.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Smooth scrolling for all elements */
* {
  scroll-behavior: smooth;
}
